@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100,300,400,700&display=swap');
body{
    font-family: 'Montserrat', sans-serif; 
}
.head-logo{
    margin-left: 5px;
    margin-top : 10px;
}
.section-1{
    background: url(./images/section-1.jpg)  no-repeat fixed;
    background-size: cover;
    height: 1012px;
    
}
.flex-container{
    display: flex;
    background: rgba(0, 0, 0, 0.4);
    height: 120px;
    justify-content: center;
    align-items: center;
 
}
.nav-item:hover {
    color: #18CFAB;
}

.logo{
    color:#18CFAB;
}
/*-------------------------------------------------*/

.nav-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    transition: all .4s ease;
    bottom: -52px;
    background-color: #18CFAB;
    opacity: 0;
    left: 0;
    transform: scaleX(0);
}

.nav-item:hover:after {
    opacity: 1;
    transform: scaleX(1);
}
/*----------------------------------------------------*/
.nav-menu{
    display:flex;
    list-style: none;
    margin-left: 300px;
}

.nav-item{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 700;
    position: relative;
    color:gainsboro;
}
.logo-a{
    text-decoration: none;
}
.logo-2{
    color:white;
    font-weight: 300;
}
.container {
    position: relative;
    text-align: center;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 30px;
    font-weight: 700;
}
.paragraph-1{
    text-align: center;
}
.paragraph-2{
    text-align: center;
    color:white;
    font-size: 90px;
    font-weight: 700;
    margin: 0 auto;
}
.paragraph-3{
    text-align: center;
    color:white;
    font-size: 40px;
    margin: 0 auto;
}

.content-2{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.w-theme{
    color:#18CFAB;
    font-size: 40px;
    font-weight: 700;
}

.ham-is{
    color:white;
    font-size: 40px;
    font-weight: 700;
}
.main-section-1{
   margin-top: 250px;

}
.button-1{
    background-color: #18CFAB;
    margin-right: 15px;
    padding: 27px 20px 27px 20px;
    border-color: #18CFAB;
    border-radius: 10px ;
    color:white;
    box-shadow: 0px -6px 0px 0px;
    font-weight: 700;
    
}
.button-2{
   background-color:  #00CBF6;
   margin-left: 15px;
   padding: 27px 20px 27px 20px;
   border-color: #00CBF6;
   border-radius: 10px ;
   color:white;
   box-shadow: 0px -6px 0px 0px;    
   font-weight: 700;
}
/*---------------------------------------------------------*/
.section-2{
    display: flex;
    height: 380px;
    margin-top: 10px;
}
.main-content-s2{
    width: 25%;
    
}
.black{
    background-color: #1C2A33;
    justify-content: center;
}

.green{
   background-color: #18CFAB;
   justify-content: center;
}
.image-s2-1{
    width: 81px;
    height: 125px;
}
.image-s2-2{
    width: 113px;
    height: 105px;
}
.image-s2-3{
    width: 93px;
    height: 125px;
}
.image-s2-4{
    width: 123px;
    height: 105px;
}
.p-1{
   color:#18CFAB; 
   text-align: center;
   margin-top: 60px;
   font-size: 20px;
   font-weight: 700;

}
.p-2{
    color:white;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 700;
}
.cont{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    
}
.p-p2{
    color:white;
    text-align: center;
    margin-top: 80px;
    font-size: 20px;
    font-weight: 700;
}
/*--------------------------------------------------------*/
.section-3{
    margin: 0 auto;
  width: 1160px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 5rem 0;
  line-height: 1.5rem;
  font-weight: 300;
  font-size: 1rem;
}
.hd{
    color:#4E4E4E;
    text-align: center;
    margin-top: 70px;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: auto;
    
}
.line-service-1 {
    position: absolute;
    padding-bottom:305px;
    left: calc(47.5%);
}
.line-service-2 {
    position: absolute;
    padding-bottom: 300px;
    left: calc(48.5%);
}

.tabs {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-title {
    background-color: #F8FCFE;
    color: #717171;
    width: 192px;
    cursor: pointer;
    border: 1px solid #EDEFEF;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tabs-title:hover {
    border-color: #18CFAB;
}
.content-section-3{
    margin-top: 90px;
}
.tabs-img {
    float: left;
    margin-right: 15px;
}
.tabs-content {
    display: flex;
    align-content: center;
    padding-top: 20px;
    
}
.tabs-content-text {
    text-align: left;
    line-height: 1.46; 
}
.active {
    background-color:#18CFAB;
    color: white;
}

.tabs-content li {
    display: none;
}
.tabs-content li.active {
    display: inline-block;
}

/*------------------------------------------------------*/
.section-4{
    background: url(./images/section-2.jpg) no-repeat fixed ;
    background-size: cover;
    height: 500px;
}
.rgba-back{
    background: rgba(0, 0, 0, 0.7);
    height: 500px;
    
}
.content-section-4{
    margin-top: 100px;
    text-align: center;
    color:#18CFAB;
    font-size: 45px;
    font-weight: 700;
}
.content-section-4-container{
    padding: 100px 0px 0px 0px;
}
.content-section-4-2{
    color:white;
    font-size: 20px;
    text-align: center;
}
.content-section-4-3{
    display:flex;
    justify-content: center;
    margin-top: 50px;
}
/*---------------------------------------------------------*/


.section-5{
    background-color: rgb(233, 237, 238);
   
}
.hd-1{
    color:#4E4E4E;
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    margin-bottom: auto;
    margin-top: 0;
    padding: 50px 0px 25px 0px;
}

.tabs-work {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabs-title-work {
    background-color: #F8FCFE;
    color: #717171;
    width: 192px;
    cursor: pointer;
    border: 1px solid #EDEFEF;
    height: 73px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.tabs-title-work:hover {
    border-color: #18CFAB;
}
.work-flex-container{
    display: flex;
    margin-top: 50px;
   justify-content: center;

}
.work-grid-container{
    display: grid;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    "item9 item10 item11 item12"
    "item13 item14 item15 item16"
    "item17 item18 item19 item20"
    "item21 item22 item23 item24";
    align-items: center;
    
}
.work-grid{
    width: 284px;
    height: 206px;  
}
.work-grid img{
    width: 284px;
    height: 206px;  
}
.work-grid.no-show{
    display: none;
}
.show-image{
    background-color: #18CFAB;
    margin-right: 15px;
    padding: 23px 18px 23px 18px;
    border-color: #18CFAB;
    border-radius: 10px ;
    color:white;
    font-weight: 700;
    margin-bottom: 70px;
}
.button-show-flex-container{
    display:flex;
    margin-top: 50px;
    justify-content: center;
}
.show-image img{
    padding: 0px 10px 0px 0px;
}
/*---------------------------------------------------------*/
.section-6 {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 1rem;
    padding-bottom: 5rem;
  }
  .breaking-item a {
  text-decoration: none;
  }
  .breaking-item a:visited {
    color: #4e4e4e;
  }
  .section-6 p:not(:last-child) {
    font-weight: 700;
  }
  .section-6 p {
    padding-left: 5%;
  }
  .breaking-news-section-gallery-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 255px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .breaking-item {
    position: relative;
  }
  .breaking-item img {
    width: 260px;
  }
  .after {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 190px;
    color: white;
    background-color: #203e38;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .breaking-item:hover .after {
    background-color: #18cfab;
    cursor: pointer;
  }
  .breaking-item:hover {
    cursor: pointer;
  }
  .breaking-item:hover p:not(:last-child) {
    color: #18cfab;
  }
  .line-service-news-1 {
    position: absolute;
    padding-bottom:535px;
    left: calc(47.5%);
}
.line-service-news-2 {
    position: absolute;
    padding-bottom: 530px;
    left: calc(48.5%);
}
.section-6 p {
    color:#4E4E4E;
}
.p-news-h {
    color:#4E4E4E;
    font-size: 50px;
    text-align: center;
}
/*----------------------------------------------------*/
/*Section-7*/
.section-7 {
   
    background: linear-gradient(rgba(14, 13, 13, 0.7), rgba(14, 13, 13, 0.7)),
      url("./images/section-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
    padding-top: 2rem;
  }
  .about-section-wrapper {
    max-width: 1160px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .about-section-wrapper p:first-child {
    font-weight: 300;
    line-height: 2rem;
    color: #bbbbbb;
  }
  .section-7 h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #ffffff;
    position: relative;
    margin-bottom: 2rem;
  }
  .about-hide {
    display: none;
  }
  .quotes {
    color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .section-7 h2::after {
    content: "";
    width: 78px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 180%;
    left: 40%;
  }
  .section-7 h2::before {
    content: "";
    width: 78px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    top: 190%;
    left: 45%;
  }
  .about-name {
    padding: 2rem 0 1rem 0;
    text-transform: uppercase;
    color: #18cfab;
    font-weight: 700;
  }
  .about-position {
    padding: 0 0 3rem 0;
    color: #bbbbbb;
  }
  .about-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 5px solid rgba(31, 218, 181,0.4);
    cursor: pointer;
    transition: 0.5s;
  }
  .left-arrow,
  .right-arrow {
    
    font-size: 2rem;
    border: 1px solid white;
    width: 50px;
    height: 50px;
  }
  .left-arrow:active,
  .right-arrow:active {
    border: 1px solid white;
    background-color:#18CFAB;
  }
  .section-7 nav {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
  }
  .section-7 nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
  }
  ul .about-img {
    width: 80px;
    height: 80px;
    border: 2px solid rgba(31, 218, 181,0.4);
  }
  ul .about-img:hover {
    transform: scale(1.2);
  }
  .active-li {
    transform: translateY(-20px);
  }

  footer{
    text-align: center;
    height: 100px;
    background-color:#1C2A33;
    
 }
 .footer-span{
    color:grey;
     padding: 40px 30px 30px 30px;
     margin: 0 auto;
}
 .footer-ham{
    color:#18CFAB;
 }
 
 
 
